.video-js .vjs-big-play-button {
  background: #00a499;
}
.video-js .vjs-big-play-button:hover,
.video-js .vjs-big-play-button:focus {
  background: #006747;
}

.video-js .vjs-control-bar {
  font-size: 16px;
}
/*
.video-js .vjs-control-bar .vjs-button .vjs-icon-placeholder:before {
  font-size: 2.5em;
} */
